.button-rounded {
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Alexandria', sans-serif;
}

.button-round {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 10px;
}

.button-white {
    border-color: black;
    color: black;
    background-color: white;
}

.button-white:hover {
    color: white;
    background-color: rgb(104, 108, 112);

    animation: zoom 3s linear reverse paused;
}

@keyframes zoom {
    from {
        transform: scale(100%, 100%);
    } to {
        transform: scale(120%, 120%);

    }
}

.button-black {
    border-color: white;
    color: white;
    background-color: black;
}

.button-black:hover {
    color: white;
    background-color: rgb(65, 63, 63);
    animation: zoom 3s linear reverse paused;

}