

/* #region  Product Card */
.card-product {
    padding: 0px;
    width: 900px;
    height: 300px;
    display: flex;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-product .container{
    width: 100%;
}

.card-product img{
    aspect-ratio: 1 / 1;
    border-radius: 20px 0px 0px 20px;
    height: 300px;
    object-fit: cover;
}

.card-product div{
    
    margin: auto;
    height: 298px;
    padding: 0;
    align-items: flex-end;
}

.card-product .button-div {
    display: flex;
    justify-content: center;
    height: auto;
}

.card-product p{
    padding: 10px;
    margin: 0;
    display: flex;
    height: 60%;
    align-items:center;
    justify-content:center;
}


.card-product h2 {
    margin: 10px;
    text-align: center;
    padding-top: 0;
}

@media (max-width: 1400px) {
    .card-product {
        width: 700px;
    }
}

@media (max-width: 700px) {
    .card-product {
        width: 500px;
    }

    .card-product img{
        height: 150px;
    }
}
/* #endregion */

/* #region Title Card */

.card-title {
    --img-path: url("../../images/CardTitleBG.jpg");

    background-size: cover;
    background-position: center;

    /* Linear gradient to make the image a bit darker so the text stands out */
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(50,50,50,0.3)), var(--img-path); 
    height: 180px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    border-radius: 20px;
    text-shadow: 2px 2px 2px black;
  }

/* #endregion */


/* #region Product Card Large */

.card-product-large {
    margin: auto;

    background-color: white;

    border: 1px solid black;
    border-radius: 20px;

    width: 400px;
    height: 500px;
}

.card-product-large .img-container{
    width: 100%;
    height: 70%;
    border: 1px solid black;
    border-radius: 20px 20px 0px 0px;
    --img-path: url(../../images/CardTitleBG.jpg);

    background-image: var(--img-path);
    background-size: cover;    
}

.card-product-large .container{
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    height: 25%;
}

.card-product-large h1 {
    margin: auto;
}

.card-product-large p {
    margin: auto;
    font-size: small;
}

.card-product-large .button-round {
    width: auto;
}



/* #endregion */

