@keyframes slideIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.sticky-header {
    width: auto;
    margin: auto;
    padding: 10px 16px;
    position: sticky;
    text-align: center;
    top: 0;
    background: white;
    z-index: 50;
}

.flex-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0 20%;
    align-items: center;
}

.flex-nav li{
    list-style: none;
    animation: slideIn 3s ease;
}

.sticky-nav-item {
    background-color: rgb(243, 243, 243);

    font-family: 'Zen Dots', cursive;

    color: white;
    padding: 15px;
    height: 100;
    font-size: medium;
    border: 1px grey;
    border-radius: 20px;
    font-size: x-large;
}


.sticky-nav-item:hover{
    background-color: lightgrey;
}

.sticky-nav-item {
    color:black;
}

.sticky-nav-item:visited {
    color: black;
}


.sticky-header + section {
    margin-top: 10px
}